<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Ranga" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="http://www.map.is/rang" />
                    <action type="Redirect" url="http://www.loftmyndir.is/rangarthingasahreppauglysingar/Auglysing.aspx" redirectType="Found" />
                </rule>
                <rule name="jim" enabled="true">
                    <match url=".jim" />
                    <conditions>
                        <add input="*" pattern=".jim" />
                    </conditions>
                    <action type="Rewrite" url="3w.loftmyndir.is" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python26\Python.exe %s %s" resourceType="Unspecified" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="dvergur.lm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
