<?xml version="1.0" encoding="UTF-8"?>
<mapDefaults>
    <map>
        <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000</scales>
        <maxExtent>143000,255000,866000,735000</maxExtent>
        <!--restrictedExtent>143000,255000,866000,735000</restrictedExtent-->
		<!--maxExtent>10,10,1000000,1000000</maxExtent-->
        <!--restrictedExtent>10,10,1500000,1500000</restrictedExtent-->
        <startZoom>2</startZoom>
        <startLon>420000</startLon>
        <startLat>500000</startLat>
        <projection>EPSG:3057</projection>
    </map>
    <layers>
        
	<baseLayer>
            <layerTitle>Kort</layerTitle>
            <url>['http://tc0.loftmyndir.is/tc_r/tilecache.py','http://tc1.loftmyndir.is/tc_r/tilecache.py','http://tc2.loftmyndir.is/tc_r/tilecache.py','http://tc3.loftmyndir.is/tc_r/tilecache.py']</url>
            <!-- url>'http://tc0.loftmyndir.is/tc_r/tilecache.py'</url -->
            <layerName>ls_tk_gs2</layerName>
            <logName>www.map.is</logName>
            <imageFormat>png</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000</scales>
            <buffer>1</buffer>
        </baseLayer>
	<baseLayer>
            <layerTitle>Loftmynd</layerTitle>
            <url>['http://tc0.loftmyndir.is/tc_r/tilecache.py','http://tc1.loftmyndir.is/tc_r/tilecache.py','http://tc2.loftmyndir.is/tc_r/tilecache.py','http://tc3.loftmyndir.is/tc_r/tilecache.py']</url>
            <!-- url>'http://tc0.loftmyndir.is/tc_r/tilecache.py'</url -->
            <layerName>myndkort</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000</scales>
            <buffer>1</buffer>
        </baseLayer>

        <layer>
            <layerTitle>VegirMyndkort</layerTitle>
            <layerName>VegirMyndkort</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver/wms</url>
            <layerNames>postgis:lm_vegir_desc,postgis:lm_vegir</layerNames>
            <layerStyles>lm_vegir_noskuggi,lm_labelvegir</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <layerScales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</layerScales>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni_myndkort</layerTitle>
            <layerName>ornefnimyndkort</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver/wms</url>
            <layerNames>postgis:lm_ornefni_union,postgis:lm_ornefni_union,postgis:lm_ornefni_union,postgis:lm_ornefni_union</layerNames>
            <layerStyles>lm_ornefni_2011_myndkort,lm_ornefni_1700k_myndkort,lm_ornefni_1000k_myndkort,lm_ornefni_500k_myndkort</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <layerScales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</layerScales>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>     
        
        <layer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver/wms?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <layerStyles></layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <layerScales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</layerScales>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        
        <layer>
            <layerTitle>Vefmyndavélar</layerTitle>
            <layerName>vefmyndavelar</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver/wms?</url>
            <layerNames>postgis:lm_vefmynd_join_vefmynd_group</layerNames>
            <layerStyles></layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <layerScales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</layerScales>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>   
        
        <layer>
            <layerTitle>POI Vector</layerTitle>
            <layerName>poi</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver/wms?</url>
            <layerNames>isl_poi_ordered</layerNames>
            <layerStyles>isl_poi_16x</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <layerScales>50000, 25000, 10000, 5000, 2000, 1000, 500, 250</layerScales>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>       
        
        <!-- var að draga IE8 niður í drulluna -->
        <!-- markerlayer>
            <layerTitle>Merki</layerTitle>
            <layerName>markers</layerName>
            <layerType>Markers</layerType>   
            <displayInLayerSwitcher>false</displayInLayerSwitcher> 
        </markerlayer -->
    
        
         <vectorlayer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>WFS</layerType>
            <url>proxies/queryWFS.php?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <maxFeatures>200</maxFeatures>
            <extractAttributes>true</extractAttributes>
            <!--<layerStyles>styleMap</layerStyles>-->
            <layerScales>[6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250]</layerScales>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>            
            <visibility>false</visibility>
            <styleMap>
                <!--
                <useStyleMap>true</useStyleMap>                
                <componentFileName>styleMaps.js.php</componentFileName>
                <anotherStyleMapName></anotherStyleMapName>
                -->
                <default>
                    <fillColor>white</fillColor>
                    <strokeColor>white</strokeColor>
                    <strokeWidth>5</strokeWidth>
                    <strokeOpacity>0.1</strokeOpacity>
                    <fillOpacity>0.1</fillOpacity>
                    <pointRadius>5</pointRadius>
                </default>
                <select>
                    <fillColor>yellow</fillColor>
                    <strokeColor>yellow</strokeColor>
                    <strokeWidth>8</strokeWidth>
                    <fillOpacity>0.6</fillOpacity>
                    <strokeOpacity>0.6</strokeOpacity>
                    <pointRadius>8</pointRadius>
                    <cursor>pointer</cursor>   
                  </select>
            </styleMap>
            <!-- Aðeins skilgreindir auka parametrar, feature alltaf sent inn og fyrir onSelect og onClick þarf að senda x og y hnit.  Hægt er að senda fleiri parametra -->
            <onSelect>onSkamyndirSelectCallback(feature, this.handlers.feature.evt.xy.x, this.handlers.feature.evt.xy.y);</onSelect>
            <onUnSelect>onSkamyndirUnselectCallback(feature);</onUnSelect>
            <onClick>onSkamyndirClickCallback(feature, this.handlers.feature.evt.xy.x, this.handlers.feature.evt.xy.y);</onClick>
        </vectorlayer>    
        
        <vectorlayer>
            <layerTitle>Vefmyndavélar</layerTitle>
            <layerName>vefmyndavelar</layerName>
            <layerType>WFS</layerType>
            <url>proxies/queryWFS.php?</url>
            <!--<layerNames>postgis:lm_vefmyndavelar</layerNames>-->
            <layerNames>postgis:lm_vefmynd_join_vefmynd_group</layerNames>
            <maxFeatures>200</maxFeatures>
            <extractAttributes>true</extractAttributes>
            <!--<layerStyles>styleMap</layerStyles>-->
            <layerScales>[6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250]</layerScales>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>            
            <visibility>false</visibility>
            <styleMap>
                <!--
                <useStyleMap>true</useStyleMap>                
                <componentFileName>styleMaps.js.php</componentFileName>
                <anotherStyleMapName></anotherStyleMapName>
                -->
                <default>
                    <fillColor>white</fillColor>
                    <strokeColor>white</strokeColor>
                    <strokeWidth>5</strokeWidth>
                    <strokeOpacity>0.1</strokeOpacity>
                    <fillOpacity>0.1</fillOpacity>
                    <pointRadius>5</pointRadius>
                </default>
                <select>
                    <fillColor>yellow</fillColor>
                    <strokeColor>yellow</strokeColor>
                    <strokeWidth>8</strokeWidth>
                    <fillOpacity>0.6</fillOpacity>
                    <strokeOpacity>0.6</strokeOpacity>
                    <pointRadius>8</pointRadius>
                    <cursor>pointer</cursor>   
                  </select>
            </styleMap>
            <!-- Aðeins skilgreindir auka parametrar, feature alltaf sent inn og fyrir onSelect og onClick þarf að senda x og y hnit. -->
            <onSelect>onVefmyndavelarSelectCallback(feature, this.handlers.feature.evt.xy.x, this.handlers.feature.evt.xy.y);</onSelect>
            <onUnSelect>onVefmyndavelarUnselectCallback(feature);</onUnSelect>
            <onClick>onVefmyndavelarClickCallback(feature, this.handlers.feature.evt.xy.x, this.handlers.feature.evt.xy.y);</onClick>
        </vectorlayer> 
       

    </layers>
    
    <!-- controls er bætt inn í kortasja.js.is þar sem map objectinn er skilgreindur -->
    <controls>
        <!-- control>
            <name>overviewmap</name>
            <controlFile>overviewMap.js.php</controlFile>
            <controlInitScript>initOverviewMap();</controlInitScript>
            <configXML></configXML>
            <controlCSS>overviewMap.css</controlCSS>            
        </control -->
        
        <control>
            <name>overviewmapstatic</name>
            <controlFile>overviewMapStatic.js.php</controlFile>
            <controlInitScript>initOverviewMapStatic();</controlInitScript>
            <configXML></configXML>
            <controlCSS>overviewMapStatic.css</controlCSS>            
        </control>
        <control>
            <name>measure</name>
            <controlFile>measuretool.js.php</controlFile>
            <controlInitScript>initMeasure();</controlInitScript>
            <configXML></configXML>
            <controlCSS>measuretool.css</controlCSS>            
        </control>
        <!-- þeir vilja helst að permalink sé alltaf síðasta control -->
        <control>
            <name>permalink</name>
            <controlFile>permalink.js.php</controlFile>
            <controlInitScript>initPermalink();</controlInitScript>
            <configXML></configXML>
            <controlCSS>permalink.css</controlCSS>            
        </control>        
    </controls>
    
    <components>
        <component>
            <name>slider</name>
            <componentFile>slider.js.php</componentFile>
            <componentInitScript>initSlider();</componentInitScript>
            <configXML></configXML>
            <componentCSS>slider.css</componentCSS>
        </component>         
        <component>
            <name>contextmenu</name>
            <componentFile>contextMenu.js.php</componentFile>
            <componentInitScript>/* No init for contex menu */</componentInitScript>
            <componentXML>contextMenu.xml</componentXML>
            <componentCSS>context_menu.css</componentCSS>
        </component>
         <component>
            <name>suggestions</name>
            <componentFile>suggestions.js.php</componentFile>
            <componentInitScript>initSuggestions();</componentInitScript>
            <configXML>suggestions.xml</configXML>
            <componentCSS>suggestions.css</componentCSS>
        </component>         
        <component>
            <name>routing</name>
            <componentFile>routing.js.php</componentFile>
            <componentInitScript>initRouting();</componentInitScript>
            <configXML>routing.xml</configXML>
            <componentCSS>routing.css</componentCSS>
        </component> 
       <component>
            <name>tooltipflex</name>
            <componentFile>toolTipFlex.js.php</componentFile>
            <componentInitScript>initToolTipFlex();</componentInitScript>
            <configXML></configXML>
            <componentCSS>tooltipflex.css</componentCSS>
        </component>  
       <component>
            <name>smoothpopup</name>
            <componentFile>smoothpopup.js.php</componentFile>
            <componentInitScript>initSmoothPopup();</componentInitScript>
            <configXML></configXML>
            <componentCSS>smoothPopup/smoothpopup.css</componentCSS>
        </component>  
       <component>
            <name>skamyndir</name>
            <componentFile>skamyndir.js.php</componentFile>
            <componentInitScript>initSkamyndir();</componentInitScript>
            <configXML></configXML>
            <componentCSS>skamyndir.css</componentCSS>
       </component>        
        <component>
            <name>lm_dialog</name>
            <componentFile>dialog.js.php</componentFile>
            <componentInitScript>initDialog();</componentInitScript>
            <configXML></configXML>
            <componentCSS>dialog.css</componentCSS>
        </component>  
        <component>
            <name>modalBox</name>
            <componentFile>modalBox.js.php</componentFile>
            <componentInitScript>initModalBox();</componentInitScript>
            <configXML></configXML>
            <componentCSS>modalBox.css</componentCSS>
        </component>          
        <component>
            <name>print</name>
            <componentFile>print.js.php</componentFile>
            <componentInitScript>initPrint(); initMalmoPrint();</componentInitScript>
            <configXML></configXML>
            <componentCSS>print.css</componentCSS>
        </component>         
       <component>
            <name>vefmyndavelar</name>
            <componentFile>vefmyndavelar.js.php</componentFile>
            <componentInitScript>initVefmyndavelar();</componentInitScript>
            <configXML></configXML>
            <componentCSS>vefmyndavelar.css</componentCSS>
        </component>
        <component>
            <name>mapSearch</name>
            <componentFile>search.js.php</componentFile>
            <componentInitScript>initSearch();</componentInitScript>
            <configXML></configXML>
            <componentCSS></componentCSS>
        </component>
        <component>
            <name>accordion</name>
            <componentFile>accordion.js.php</componentFile>
            <componentInitScript>initAccordion();</componentInitScript>
            <configXML></configXML>
            <componentCSS></componentCSS>
        </component>         
        
        <component>
            <name>poi</name>
            <componentFile>poi.js.php</componentFile>
            <componentInitScript>initPOI();</componentInitScript>
            <configXML></configXML>
            <componentCSS>poi.css</componentCSS>
        </component>                 
        
        <!-- þarf að vera á eftir vectorlayerum sem eru með clientselect -->
        <component>
            <name>clientselect</name>
            <componentFile>clientSelect.js.php</componentFile>
            <componentInitScript>initClientSelect();</componentInitScript>
            <configXML></configXML>
            <componentCSS></componentCSS>
        </component>             
        <component>
            <name>baseLayersChooser</name>
            <componentFile>baseLayersChooser.js.php</componentFile>
            <componentInitScript>initBaseLayersChooser("Kort, Myndkort");</componentInitScript>
            <configXML></configXML>
            <componentCSS>baseLayersChooser.css</componentCSS>
        </component> 
        <component>
            <name>headerButtons</name>
            <componentFile>headerButtons.js.php</componentFile>
            <componentInitScript>initHeaderButtons();</componentInitScript>
            <configXML></configXML>
            <componentCSS></componentCSS>
        </component>  
        <component>
            <name>dropdownbox</name>
            <componentFile>dropdownBox.js.php</componentFile>
            <componentInitScript>initDropdownBox();</componentInitScript>
            <configXML></configXML>
            <componentCSS>dropdownBox.css</componentCSS>
        </component>  
        <component>
            <name>customLayerSwitcher</name>
            <componentFile>customLayerSwitcher.js.php</componentFile>
            <componentInitScript>initCustomLayerSwitcher();LSButtonHover();</componentInitScript>
            <configXML></configXML>
            <componentCSS>customLayerSwitcher.css</componentCSS>
        </component>   
    </components> 
</mapDefaults>


