<?xml version="1.0" encoding="UTF-8"?>
<mapDefaults>
    <map>
        <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
        <maxExtent>143000,255000,866000,735000</maxExtent>
        <!--restrictedExtent>143000,255000,866000,735000</restrictedExtent-->
		<!--maxExtent>10,10,1000000,1000000</maxExtent-->
        <!--restrictedExtent>10,10,1500000,1500000</restrictedExtent-->
        <projection>EPSG:3057</projection>
    </map>
    <layers>
	<baseLayer>
            <layerTitle>Skyggt kort</layerTitle>
            <url>http://tc0.loftmyndir.is/tc_r/tilecache.py</url>
            <layerName>lightsaber</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
	<baseLayer>
            <layerTitle>Myndkort</layerTitle>
            <url>http://tc0.loftmyndir.is/tc_r/tilecache.py</url>
            <layerName>myndkort</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
	<baseLayer>
            <layerTitle>Nýja tilecache</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>myndkort</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
        <baseLayer>
            <layerTitle>Lightsaber Örnefni 2011</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_yfirlestur</layerName>
            <logName>www.map.is</logName>
            <imageFormat>png</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
        <baseLayer>
            <layerTitle>Lightsaber hrár</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_ow</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
         <baseLayer>
            <layerTitle>Lightsaber GeoServer</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_gs</layerName>
            <logName>www.map.is</logName>
            <imageFormat>png</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
        <baseLayer>
            <layerTitle>Lightsaber joined</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_joined</layerName>
            <logName>www.map.is</logName>
            <imageFormat>png</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>    
        
        <baseLayer>
            <layerTitle>lightsaber_source_overlays</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_source_overlays</layerName>
            <logName>www.map.is</logName>
            <imageFormat>png</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer> 
        <layer>
            <layerTitle>Lightsaber Extras</layerTitle>
            <layerName>lightsaberExtras</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_thettbylissvaedi,kortasja:lm_vatnafar_linur,kortasja:lm_vatnafar_poly,kortasja:hl100_i_butum,kortasja:isl_sjomaski,kortasja:lm_eyjar_i_sjo,kortasja:lm_sveitarfelog_linur</layerNames>
            <layerStyles>lm_thettbylissvaedi,lm_vatnafar_linur,lm_vatnafar_poly,h100_i_butum,isl_sjomaski,eyjar,lm_sveitarfelog_lina</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Lightsaber Vegir</layerTitle>
            <layerName>lightsaberVegir</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_vegir,kortasja:lm_vegir_desc,kortasja:lm_vegir,kortasja:lm_mannv_hus,kortasja:lm_postfong</layerNames>
            <layerStyles>lm_vegir_skuggi,lm_vegir_noskuggi,lm_labelvegir,lm_mannv_hus,lm_husnumer</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Lightsaber Örnefni</layerTitle>
            <layerName>ornefninytt</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>lm_ornefni_union</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni 1:1.700k</layerTitle>
            <layerName>ornefni1700</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>ornefni_1700</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni 1:1.700k plus</layerTitle>
            <layerName>ornefni1700plus</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>ornefni_1700plus</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni 1:1.000k</layerTitle>
            <layerName>ornefni1000</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>ornefni_1000</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni 1:500k</layerTitle>
            <layerName>ornefni500</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>ornefni_500</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni 2011</layerTitle>
            <layerName>ornefni2011</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>lm_ornefni_2011_style</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Örnefni Olde</layerTitle>
            <layerName>ornefniolde</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>lm_ornefni_olde</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>        
        <layer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver2/wms?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <layerStyles></layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer> 
        <vectorlayer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>WFS</layerType>
            <url>proxies/queryWFS.php?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <maxFeatures>200</maxFeatures>
            <extractAttributes>true</extractAttributes>
            <layerStyles>styleMap</layerStyles>
            <layerScales>[6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250]</layerScales>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>            
            <visibility>true</visibility>
            <styleMap>
                <useStyleMap>true</useStyleMap>                
                <componentFileName>styleMaps.js.php</componentFileName>
                <anotherStyleMapName></anotherStyleMapName>
                <default>
                    <fillColor>white</fillColor>
                    <strokeColor>white</strokeColor>
                    <strokeWidth>5</strokeWidth>
                    <strokeOpacity>0.1</strokeOpacity>
                    <fillOpacity>0.1</fillOpacity>
                    <pointRadius>5</pointRadius>
                </default>
                <select>
                    <fillColor>yellow</fillColor>
                    <strokeColor>yellow</strokeColor>
                    <strokeWidth>8</strokeWidth>
                    <fillOpacity>0.6</fillOpacity>
                    <strokeOpacity>0.6</strokeOpacity>
                    <pointRadius>8</pointRadius>
                    <cursor>pointer</cursor>   
                  </select>
            </styleMap>
        </vectorlayer>          
    </layers>
    
    <components>
        <component>
            <name>contextmenu</name>
            <componentFile>contextMenu.js.php</componentFile>
            <componentInitScript>/* No init for contex menu */</componentInitScript>
            <componentXML>contextMenu.xml</componentXML>
            <componentCSS>context_menu.css</componentCSS>
        </component>
        <component>
            <name>routing</name>
            <componentFile>routing.js.php</componentFile>
            <componentInitScript>initRouting();</componentInitScript>
            <configXML>routing.xml</configXML>
            <componentCSS>routing.css</componentCSS>
        </component>       
       <component>
            <name>skamyndir</name>
            <componentFile>skamyndir.js.php</componentFile>
            <componentInitScript>initSkamyndir();</componentInitScript>
            <configXML></configXML>
            <componentCSS>skamyndir.css</componentCSS>
        </component>
        <!-- þarf að vera á eftir vectorlayerum sem eru með clientselect -->
        <component>
            <name>clientselect</name>
            <componentFile>clientSelect.js.php</componentFile>
            <componentInitScript>initClientSelect();</componentInitScript>
            <configXML></configXML>
            <componentCSS></componentCSS>
        </component>       
    </components>
    
</mapDefaults>


