<?xml version="1.0" encoding="UTF-8"?>
<mapDefaults>
    <map>
        <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
        <maxExtent>143000,255000,866000,735000</maxExtent>
        <!--restrictedExtent>143000,255000,866000,735000</restrictedExtent-->
		<!--maxExtent>10,10,1000000,1000000</maxExtent-->
        <!--restrictedExtent>10,10,1500000,1500000</restrictedExtent-->
        <projection>EPSG:3057</projection>
    </map>
    <layers>
	<baseLayer>
            <layerTitle>Skyggt kort</layerTitle>
            <url>http://tc0.loftmyndir.is/tc_r/tilecache.py</url>
            <layerName>lightsaber</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
	<baseLayer>
            <layerTitle>Myndkort</layerTitle>
            <url>http://tc0.loftmyndir.is/tc_r/tilecache.py</url>
            <layerName>myndkort</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
	<baseLayer>
            <layerTitle>Nýja tilecache</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>myndkort</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
        <baseLayer>
            <layerTitle>Nýja lightsaber</layerTitle>
            <url>http://devbuntu/tc/tilecache.py</url>
            <layerName>lightsaber_ow</layerName>
            <logName>www.map.is</logName>
            <imageFormat>jpeg</imageFormat>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <tileCacheType>TMS</tileCacheType>
            <attribution> © Loftmyndir ehf. Allur réttur áskilinn.</attribution>
            <transitionEffect>resize</transitionEffect>
            <scales>6800000,3400000,1700000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,250</scales>
            <buffer>1</buffer>
        </baseLayer>
        <layer>
            <layerTitle>Lightsaber Extras</layerTitle>
            <layerName>lightsaberExtras</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_vatnafar_linur,kortasja:lm_vatnafar_poly,kortasja:hl100_i_butum,kortasja:isl_sjomaski,kortasja:lm_sveitarfelog_linur</layerNames>
            <layerStyles>lm_vatnafar_linur,lm_vatnafar_poly,h100_i_butum,isl_sjomaski,lm_sveitarfelog_lina</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Lightsaber Vegir</layerTitle>
            <layerName>lightsaberVegir</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_vegir,kortasja:lm_vegir_desc,kortasja:lm_vegir,kortasja:lm_mannv_hus,kortasja:lm_postfong</layerNames>
            <layerStyles>lm_vegir_skuggi,lm_vegir_noskuggi,lm_labelvegir,lm_mannv_hus,lm_husnumer</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Lightsaber Örnefni</layerTitle>
            <layerName>ornefninytt</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://gisvm/geoserver/wms</url>
            <layerNames>kortasja:lm_ornefni_union</layerNames>
            <layerStyles>lm_ornefni_union</layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>false</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>
        <layer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>WMS.Untiled</layerType>
            <url>http://geoserver.loftmyndir.is/geoserver2/wms?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <layerStyles></layerStyles>
            <format>image/png</format>
            <transparent>true</transparent>
            <visibility>true</visibility>
            <singleTile>true</singleTile>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
            <isBaseLayer>false</isBaseLayer>
            <unsupportedBrowsers>[]</unsupportedBrowsers>
        </layer>   
        <vectorlayer>
            <layerTitle>Skámyndir</layerTitle>
            <layerName>skamyndir</layerName>
            <layerType>Vector</layerType>
            <url>proxies/queryWFS.php?</url>
            <layerNames>postgis:lm_skamyndir_view</layerNames>
            <maxFeatures>200</maxFeatures>
            <extractAttributes>true</extractAttributes>
            <layerStyles>styleMap</layerStyles>
            <layerScales>[1700000.0, 1000000.0, 500000.0, 250000.0, 100000.0, 50000.0, 25000.0, 10000.0,5000.0,2000.0,1000.0,500.0,250.0]</layerScales>
            <styleMap>
                <![CDATA[
        var styleMap = new OpenLayers.StyleMap(	
            {
                'default':{ 
                    'fillColor':'white',
                    'strokeColor': 'white',
                    'strokeWidth': 5,
                    'strokeOpacity': 0.1,
                    'fillOpacity': 0.1,
                    'pointRadius':5},
                'select': {	
                    'fillColor':'yellow',
                    'strokeColor':'yellow',
                    'strokeWidth': 8,
                    'fillOpacity':0.6,
                    'strokeOpacity': 0.6,
                    'pointRadius':8,
                    'cursor': 'pointer'}
            }
        );             
                ]]>
            </styleMap>
            <visibility>true</visibility>
            <displayInLayerSwitcher>true</displayInLayerSwitcher>
        </vectorlayer>         
    </layers>
    <components>
        <component>
            <name>contextmenu</name>
            <componentFile>contextMenu.js.php</componentFile>
            <componentInitScript>/* No init for contex menu */</componentInitScript>
            <componentXML>contextMenu.xml</componentXML>
            <componentCSS>context_menu.css</componentCSS>
        </component>
        <component>
            <name>routing</name>
            <componentFile>routing.js.php</componentFile>
            <componentInitScript>initRouting();</componentInitScript>
            <configXML>routing.xml</configXML>
            <componentCSS>routing.css</componentCSS>
        </component>
    </components>
</mapDefaults>

